.login {
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 10px 15px;
		background-color: var(--gray-50);
		border-bottom: 1px solid var(--gray-100);
	}

	&__by-twitch {
		color: var(--primary-500) !important;
		border-color: var(--primary-500) !important;
	}

	&__main {
		padding: 10px 15px;
	}
}
