.login {
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 10px 15px;
		background-color: var(--gray-50);
		border-bottom: 1px solid var(--gray-100);
	}

	&__by-twitch {
		color: var(--primary-500);
		border-color: var(--primary-500);
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		transition: all .3s linear;

		&:hover {
			background-color: var(--primary-100);
		}
	}

	&__main {
		padding: 10px 15px;
	}
}
