:root {
	--gray-900: #0f131a;
	--gray-800: #1a1d24;
	--gray-700: #292d33;
	--gray-600: #3c3f43;
	--gray-500: #5c6066;
	--gray-400: #6a6f76;
	--gray-300: #858b94;
	--gray-200: #a4a9b3;
	--gray-100: #cbced4;
	--gray-50: #e9ebf0;
	--red-50: #ffeded;
	--red-100: #fccaca;
	--red-200: #faa9a7;
	--red-300: #f58884;
	--red-400: #f26a63;
	--red-500: #f04f43;
	--red-600: #e63f30;
	--red-700: #d12f1d;
	--red-800: #d3200c;
	--red-900: #8a1200;
	--green-50: #f3fff2;
	--green-100: #cff0ce;
	--green-200: #aee0ad;
	--green-300: #8ccf8c;
	--green-400: #71bf72;
	--green-500: #58b15b;
	--green-600: #3fab45;
	--green-700: #27a12f;
	--green-800: #10911b;
	--green-900: #007d0c;
	--blue-50: #edf9ff;
	--blue-100: #c0e8fc;
	--blue-200: #93d6fa;
	--blue-300: #67c1f5;
	--blue-400: #3dadf2;
	--blue-500: #1499ef;
	--blue-600: #0e8ce6;
	--blue-700: #087ad1;
	--blue-800: #0464b3;
	--blue-900: #00498a;
	--primary-50: #f6f2ff;
	--primary-100: #e2d4ff;
	--primary-200: #ccb0ff;
	--primary-300: #b68cff;
	--primary-400: #a269ff;
	--primary-500: #9146ff;
	--primary-600: #8331f5;
	--primary-700: #721de0;
	--primary-800: #5e0cc2;
	--primary-900: #470099;

	--text-color: var(--gray-900);
}
