{
    "trailingComma": "all",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "enable": true,
    "enableDebugLogs": false,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "strict",
    "jsxSingleQuote": true,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "useTabs": true
}
