@import '@style/colors';

// Стили для кнопок
.btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  // Стили для основной кнопки
  &-primary {
    color: var(--primary-50);
    background-color: var(--primary-500);

    // Стили при наведении на основную кнопку
    &:hover {
      background-color: var(--primary-600);
    }
  }

  // Стили для второстепенной кнопки
  &-secondary {
    color: var(--blue-50);
    background-color: var(--blue-500);

    // Стили при наведении на второстепенную кнопку
    &:hover {
      background-color: var(--blue-700);
    }
  }

  // Стили для кнопки успеха
  &-success {
    color: var(--green-50);
    background-color: var(--green-500);

    // Стили при наведении на кнопку успеха
    &:hover {
      background-color: var(--green-700);
    }
  }

  // Стили для кнопки ошибки
  &-error {
    color: var(--red-50);
    background-color: var(--red-500);

    // Стили при наведении на кнопку ошибки
    &:hover {
      background-color: var(--red-700);
    }
  }

  // Стили для отключенной кнопки
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Стили для кнопки малого размера
  &-sm {
    padding: 0.25em 0.5em;
  }

  // Стили для кнопки среднего размера
  &-md {
    padding: 0.5em 1em;
  }

  // Стили для кнопки большого размера
  &-lg {
    padding: 1em 2em;
  }
}
