.icon {
	position: relative;
	display: flex;
	&_white {
		fill: #fff; //TODO: fix color
	}
	&_sm {
		svg {
			height: 1rem;
			width: 1rem;
		}
	}
	&_md {
		svg {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	&_lg {
		svg {
			height: 2rem;
			width: 2rem;
		}
	}
}
